* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white
}

body {
	background-color: rgb(30, 34, 37);
	margin: 0;
	padding: 2em
}

#blockedMessage {
	display: flex;
	height: 60vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#popup {
	border: 1px solid rgb(167, 167, 167);
	border-radius: 10px;
	text-align: center;
	min-width: 100px;
}

button {
	background-color: black;
	border: 2px solid white;
	font-size: small;
	margin: 3px;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

#settings {
	display: none;
}

#settings #blockedDomainsList span {
	margin-right: 1em;
}